
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>#1 Profilim</h2>
<h2>#2 Tüm başlıklarda paging</h2>
<h2>#3 Mesajlarda session</h2>
<h2>#4 Oturum Yönetiminin mimariye taşınması</h2>
<h2>#5 Token</h2>

