
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC TABLE EXAMPLE</h3>
<br/>
<table class="table table-striped">
    <tr>
        <th>Category ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>a</td>
        <td>d</td>
        <td>True</td>
    </tr>
</table>
<button class="btn btn-info">Yeni Buton</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>
